body {
  font-family: 'Goudy Bookletter 1911', serif;
  color: #40514E;
}

.topnav {
  position: fixed;
  width: 100%;
  top:0;
  background-color: black;
  text-align: center;
  padding: 20px;
}

.topnav a {
  padding: 65px 65px;
  text-decoration: none;
  font-size: 1rem;
}

main {
  margin: 120px 50px 50px 200px;
  align-items: center;
  columns: 2;
}

h2 {
  font-size: 1.3rem;
  font-family: 'Prata', serif;
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
}

h3 {
  font-size: 1.4rem;
  font-family: 'Prata', serif;
  color: #717BB7;
  padding-top: 40px;
  padding-bottom: 30px;
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

a {
  color: white;
  font-family: 'Prata', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #BACAF5;
}

/*
.stayInTouch {
  width: 100%;
  height: 100%;
  min-height: 80%;
  min-width: 80%;
  max-height: 100%;
  max-width: 100%;
}*/

.contact {
  color: black;
  margin-left: 0px;
}

.wasp {
  width: 45%;
  margin-left: 100px;
}

/*____________Footer_________________*/
.bottom-container {
  text-align: center;
  font-size: 1.1rem;
  background-color: black;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAEAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}
