body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 1.2rem;
  color: #40514E;
}

.topnav {
  position: fixed;
  width: 100%;
  top:0;
  background-color: black;
  text-align: center;
  padding: 18px;
}

.topnav a {
  padding: 64px 64px;
  text-decoration: none;
  font-size: 1rem;
}

h1 {
  font-size: 1.3rem;
  line-height: 1.3;
  font-family: 'Prata', serif;
  color: #717BB7;
}

h3 {
  font-size: 1.3rem;
  font-family: 'Prata', serif;
  padding-bottom: 20px;
  padding-bottom: 35px;
  color: black;
}

p {
  line-height: 2;
}

li {
  line-height: 2;
}

a {
  color: white;
  font-family: 'Prata', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #BACAF5;
}

main {
  margin: 0px 80px 100px 80px;
}

.lamps {
  width: 35%;
}

.myrules {
  font-size: 1.7rem;
  font-style: Bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);}

}

.rules {
  columns: 2;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-left: 100px;
  text-align: justify;
}

.rule1 {
padding-left: 50px;
padding-right: 50px;
padding-bottom: 60px;

}

.rule2 {
padding-left: 50px;
padding-right: 50px;
padding-bottom: 60px;

}

.rule3 {
padding-left: 50px;
padding-right: 50px;
padding-bottom: 10px;

}

/*____________Footer_________________*/
.bottom-container {
  text-align: center;
  font-size: 1.1rem;
  background-color: black;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAEAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}
