body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 1.2rem;
  color: #40514E;
}

.topnav {
  position: fixed;
  width: 100%;
  top:0;
  background-color: black;
  text-align: center;
  padding: 18px;
}

.topnav a {
  padding: 64px 64px;
  text-decoration: none;
  font-size: 1rem;
}

main {
  margin-top: 90px;
  margin-bottom: 70px;
}

h3 {
  font-size: 1.4rem;
  font-family: 'Prata', serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #717BB7;
  margin-top: 30px;
}

p {
  line-height: 2;
}

li {
  line-height: 1.2;
}

a {
  color: white;
  font-family: 'Prata', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #BACAF5;
}

.work-experience {
  column-count: 2;
  margin: 40px 80px auto auto;
}

.mirror {
  width: 65%;
  margin-left: 70px;
}

.working {
  padding-top: 10px;
}

/*____________Footer_________________*/
.bottom-container {
  text-align: center;
  font-size: 1.1rem;
  background-color: black;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAEAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}


/*____________Animations_________________*/

.passions{
  animation: colours 5s infinite;
}

@keyframes colours {
  0% {
    background-color: white;
  }

  10% {
    background-color: white;
  }

  20% {
    background-color: #F0F4FF;
  }

  50% {
    background-color: #F0F4FF;
  }

  80% {
    background-color: white;
  }

  100% {
    background-color: white;
  }
}
